@charset "UTF-8";

@font-face {
	src: url("../fonts/ColabThin.otf");
	font-family: "Colaborate-Thin";
}

/* Logo fade in animation */
@keyframes logo {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes text {
	from {opacity: 0; margin-top: -2.5rem;}
	to {opacity: 0.2; margin-top: 0rem;}
}

@keyframes text-color {
	from {color: white; opacity: 0.2;}
	to {color: white; opacity: 0.75;}
}

@keyframes head-gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f8f8f8;
	font-size: 1.2rem;
}

.color-meta-dark {
	color: rgb(72, 31, 71);
}

.color-meta-medium {
	color: rgb(110, 47, 109);
}

.color-meta-light {
	color: rgb(148,64,145);
}

.bg-meta-dark {
	background-color: rgb(72, 31, 71);
}

.border-meta-dark-left {
	border-left: 0.5rem solid rgb(72, 31, 71);
}

.border-meta-dark-right {
	border-right: 0.5rem solid rgb(72, 31, 71);
}

.bg-meta-light {
	background-color: rgb(148,64,145);
}

.navbar {
	transition: 0.25s ease;
	background-color: none;
}

.navbar .navbar-brand img {
	width: auto;
	height: 1.25rem;
	opacity: 0.3;
}

.navbar .navbar-brand {
	transition: 0.25s ease;
	color: white;
	opacity: 0.3;
}

.navbar .navbar-brand:hover {
	transition: 0.25s ease;
	color: white;
	opacity: 1;
}

.navbar .navbar-brand:focus {
	transition: 0.25s ease;
	color: white;
	opacity: 1;
}

.navbar .navbar-toggler {
	border: none;
	transition: 0.25s ease;
	color: grey;
	background-color: white;
	opacity: 0.3;
}

.navbar .navbar-toggler:focus {
	outline: none;
}

.navbar .navbar-toggler:hover {
	transition: 0.25s ease;
	color: grey;
	opacity: 1;
}

.navbar .navbar-nav .nav-item .nav-link {
	transition: 0.25s ease;
	color: white;
	opacity: 0.3;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	transition: 0.25s ease;
	opacity: 1;
}

/* Appearance of navbar when scrolling down */
.navbar-convert {
	transition: 0.25s ease;
	background-color: white;
}

.navbar-convert .navbar-brand img{
	color: rgb(72, 31, 71);
	opacity: 1;
}

.navbar-convert .navbar-brand {
	color: rgb(72, 31, 71);
	opacity: 1;
}

.navbar-convert .navbar-brand:hover {
	transition: 0.25s ease;
	color: rgb(148,64,145);
	opacity: 1;
}

.navbar-convert .navbar-brand:focus {
	transition: 0.25s ease;
	color: rgb(148,64,145);
	opacity: 1;
}

.navbar-convert .navbar-toggler {
	border: none;
	transition: 0.25s ease;
	color: black;
	opacity: 0.3;
}

.navbar-convert .navbar-toggler:focus {
	outline: none;
}

.navbar-convert .navbar-toggler:hover {
	transition: 0.25s ease;
	color: black;
	opacity: 1;
}

.navbar-convert .navbar-nav .nav-item .nav-link {
	transition: 0.25s ease;
	color: black;
	opacity: 0.3;
}

.navbar-convert .navbar-nav .nav-item .nav-link:hover:active {
	transition: 0.25s ease;
	opacity: 1;
	border-bottom: 2px solid rgb(148,64,145);
}

.navbar-convert .navbar-nav .nav-item .active {
	transition: 0.25s ease;
	opacity: 1;
	border-bottom: 2px solid rgb(148,64,145);
}
/*  --------------------------------------  */

.bottom-border {
	border-bottom: 1px solid rgb(148,64,145);
	padding-bottom: 30px;
}

.row-margin-bottom {
	margin-bottom: 50px;
}

.head-intro {
	height: 100vh;
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	padding: 0;
	color: white;
	font-family: "Colaborate-Thin";
	background-color: rgb(72, 31, 71);
	background: linear-gradient(60deg, rgb(42, 1, 41), rgb(72, 31, 71), rgb(148,64,145), #98D2EB);
	background-size: 400% 400%;
	background-position: 0% 50%;
	animation: head-gradient 3s ease 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.head-intro h1:before {
	content: "\2014 \00A0";
}

.head-intro h1:after {
	content: "\00A0 \2014";
}

#head-logo {
	opacity: 0;
	animation-name: logo;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

#head-text {
	opacity: 0;
	animation-name: text, text-color;
	animation-duration: 1s, 0.2s;
	animation-delay: 1s, 4.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease, linear;
	animation-fill-mode: forwards;
}

.text-note-left {
	padding-left: 2rem;
	border-left: 0.5rem solid rgb(72, 31, 71);
}

.text-note-right {
	padding-right: 2rem;
	border-right: 0.5rem solid rgb(72, 31, 71);
}

/* Button styles */
.btn-primary.dropdown-toggle, .btn-primary {
	background-color: rgb(148,64,145);
	border: none;
}

.btn-primary.dropdown-toggle:hover, .btn-primary:hover {
	background-color: rgb(72, 31, 71);
	border-color: rgb(110,47,109);
	color: white;
}

.btn-primary.dropdown-toggle:focus, .btn-primary:focus {
	background-color: rgb(72, 31, 71);
	border-color: rgb(110,47,109);
	color: white;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary.dropdown-toggle:active, .btn-primary:active {
	background-color: rgb(72, 31, 71);
	border-color: rgb(38,16,38);
	color: white;
}

.btn-primary.dropdown-toggle:active:focus, .btn-primary:active:focus {
	background-color: rgb(72, 31, 71);
	border-color: rgb(38,16,38);
	color: white;
}

.btn-primary.dropdown-toggle:active:hover, .btn-primary:active:hover {
	background-color: rgb(72, 31, 71);
	border-color: rgb(38,16,38);
	color: white;
}

.show>.btn-primary.dropdown-toggle {
	background-color: rgb(72, 31, 71);
	border-color: rgb(38,16,38);
	color: white;
}

.btn-secondary {
	background-color: white;
	color: rgb(148,64,145);
	border: none;
}

.btn-secondary:hover {
	background-color: rgb(148,64,145);
	border-color: rgb(110,47,109);
	color: white;
}

.btn-secondary:focus {
	background-color: rgb(148,64,145);
	border-color: rgb(110,47,109);
	color: white;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary.dropdown-toggle:active, .btn-secondary:active {
	background-color: rgb(148,64,145);
	border-color: rgb(38,16,38);
	color: white;
}

.show>.btn-secondary.dropdown-toggle {
	background-color: rgb(148,64,145);
	border-color: rgb(38,16,38);
	color: white;
}

.btn-secondary:active:focus {
	background-color: rgb(148,64,145);
	border-color: rgb(38,16,38);
	color: white;
}

.btn-secondary:active:hover {
	background-color: rgb(148,64,145);
	border-color: rgb(38,16,38);
	color: white;
}
/*               */

.stylistic-hr {
	width: 33%;
	border-color: rgb(148,64,145);
	border-width: .25rem;
}

.carousel {
	padding: 4px;
    background-color: #fff;
    border: 1px solid #eee;
}

.carousel-inner img {
	margin: 0 auto;
	width: 100%;
	height: 25rem;
	object-fit: contain;
}

.carousel-indicators li {
	background-color: rgba(148, 64, 145, 0.3);
}

.carousel-indicators .active {
	background-color: rgb(148, 64, 145);
}

.disclaimer {
	font-size: 1rem;
	color: #aaa;
}

.specs {
	font-size: 1rem;
	color: #aaa;
}

a {
	color: rgb(148,64,145);
}

a:focus, a:hover {
	text-decoration: none;
	color: rgb(178,94,175);
}

.bg-black {
	background-color: #161616;
}

.card {
	border: 0;
	transition: 0.2s;
	border-bottom: 0.25rem solid rgb(148,64,145);
	opacity: 0.8;
	color: rgb(72, 31, 71);
}

.card:hover {
	transition: 0.2s;
	opacity: 1;
}

.card-body i {
	font-size: 3rem;
}

.card-body img {
	height: 3rem;
	width: auto;
}

.card-body h4 {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 0;
}

#xmas-2018 img {
	max-width: 100%;
	max-height: 50vh;
	height: auto;
	border: .5rem solid white;
	border-radius: .75rem;
}

footer {
	padding: 5rem 0;
}

#logo-footer {
	padding-left: 0px;
}